.rojjo {
	background-color: rgb(245, 98, 109);
}
.t-rojjo {
	color: rgb(245, 98, 109);
}
.icono-redes {
	background-color: white;
	width: 20px;
	height: 20px;
	color: #1B1B1C;
	padding: 3px;

}
a {
	color: #1B1B1C;
}